# Data Science Tools and Ecosystem

In this notebook, Data science tools and ecosystem are summarized.

**Objectives:**

* List of popular languages in data science
* List of popular libraries in data science
* Working with tables and list in jupyter notebook
* Doing some arithmetic operations
* Submit your work on github

## Author
Asad Ali

Some popular languages that data scientist use are:

1. Python
2. Ruby
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Numpy
3. ggplot

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
print(2 + 2)

4

In [6]:
print(4*2+(3+3))

14

 This a simple arithmetic expression to mutiply then add integers

In [8]:
print((3*4)+5)

17

In [9]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335